:root {
  --red: #f56c6c;
  --green: #67c23a;
  --blue: #409eff;
  --grey: #e4e7ed;
  --lightgrey: #f5f5f5;
}

.background {
  background: url('../assets/background.svg') no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}
